* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("bg.jpg");
    min-width: 630px;
}

body::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(118, 178, 223, 0.5);
    z-index: -1;
}

.navbar {
    margin: 0;
    padding: 0;
    z-index: 1;
    height: auto;
    background-color: rgb(118, 178, 223);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar .logo {
    margin: 0 0 0 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.navbar .nav-menu {
    margin: 0 20px 0 20px;
    flex-direction: row;
    flex-wrap: nowrap;
}

.navbar a{
    color: white;
    text-decoration: none;
}

.nav-menu ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.nav-menu ul li{
    padding: 10px 20px 10px 20px;
    cursor: pointer;
}

.nav-menu .dropable0 {
    position: relative;
    display: flex;
    flex-direction: column;
}

.nav-menu .dropdown1 li:first-child{
  position: relative;
}

.nav-menu .dropdown1 .starting0-arrow {
    /* create green triangle */
    content: "";
    position: absolute;
    top: -10px;
    right: 50%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
}

.nav-menu .dropable0 .dropable0-arrow {
    /* create green triangle */
    content: "";
    position: absolute;
    top: 17px;
    right: 10px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid white;
}

.nav-menu .dropable0:hover .dropdown1 {
  opacity: 1;
  pointer-events: all;
  left: -200px;
  background-color: transparent;
  padding: 30px 200px 30px 200px;
}

.nav-menu .dropdown1 {
    opacity: 0;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 14px;
    left: -100px;
    background-color: transparent;
    
    transition: 0.2s ease-in-out, left 0.2s ease-in-out, top 0.2s ease-in-out;
}

.nav-menu .dropdown1 ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.nav-menu .dropdown1 li{
    background-color: white;
    cursor: pointer;
    border-bottom: 1px solid rgb(118, 178, 223);
    min-width: 100px;
}


.nav-menu .dropable {
  position: relative;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgb(118, 178, 223);
}

.nav-menu .dropdown1 li:last-child{
    border-bottom: none;
}

.nav-menu .dropdown1 li:hover{
    background-color: rgb(118, 178, 223);
}

.nav-menu .dropdown1 li a{
    color: rgb(118, 178, 223);
    text-decoration: none;
}

.nav-menu .dropdown1 li:hover a:not(.dropdown2 a){
  color: white;
}

.nav-menu .starting-arrow {
  /* create green triangle */
  content: "";
  position: absolute;
  top: 5px;
  left: -10px;
  border-right: 10px solid white;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.nav-menu .dropable .dropable-arrow{
  content: "";
  position: absolute;
  top: 14px;
  right:5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 7px solid rgb(118, 178, 223);
}

.nav-menu .dropdown1 li:hover > .dropable-arrow{
  content: "";
  position: absolute;
  top: 14px;
  right:5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 7px solid white;
}

.nav-menu .dropdown2 li:hover > .dropable-arrow{
  content: "";
  position: absolute;
  top: 14px;
  right:5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 7px solid white;
}

.nav-menu .dropable:hover > li > .dropdown2 {
  opacity: 1;
  pointer-events: all;

  left: 90px;
  background-color: transparent;
  padding: 0px 200px 200px 20px;
}

.nav-menu .dropdown2 {
  opacity: 0;
  pointer-events: none;

  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0px;
  left: 190px;

  transition: 0.2s ease-in-out, left 0.2s ease-in-out, top 0.2s ease-in-out;
}

.nav-menu .dropdown2 a{
  color: rgb(118, 178, 223);
  text-decoration: none;
}

.nav-menu .dropdown2 li:hover a:not(.dropdown3 a){
  color: white;
}

.nav-menu .dropdown3 {
  opacity: 0;
  pointer-events: none;

  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  left: 190px;

  transition: 0.2s ease-in-out, left 0.2s ease-in-out, top 0.2s ease-in-out;
}

.nav-menu .dropable:hover > li > .dropdown3 {
  opacity: 1;
  pointer-events: all;

  top:0px;
  left: 90px;
  background-color: transparent;
  padding: 0px 200px 200px 20px;
}

.nav-menu .dropdown3 a{
  color: rgb(118, 178, 223);
  text-decoration: none;
}

.nav-menu .dropdown3 li:hover a{
  color: white;
}


  /* login menu */
  .log-menu {
    margin-right: 20px;
    min-width: 190px;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
  }

  .log-menu .button{
    margin: 5px 2px;
    padding: 10px 20px 10px 20px;
    border-radius: 25px;
    border: 1px solid white;
    background-color: rgb(118, 178, 223);
    cursor: pointer;
  }

  .log-menu .button:nth-child(2){
    background-color: white;
  }

  .log-menu .button:nth-child(2) a{
    color: rgb(118, 178, 223);
  }

  
@media (max-width: 630px){
    body {
        min-width: 480px;
    }

    .navbar .logo {
        display: none;
    }

}