* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("bg.jpg");
    min-width: 630px;
}

body::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(118, 178, 223, 0.5);
    z-index: -1;
}

.navbar {
    margin: 0;
    padding: 0;
    z-index: 1;
    height: auto;
    background-color: rgb(118, 178, 223);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar .logo {
    margin: 0 0 0 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.navbar .nav-menu {
    margin: 0 20px 0 20px;
    flex-direction: row;
    flex-wrap: nowrap;
}

.navbar a{
    color: white;
    text-decoration: none;
}

.nav-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  /* navbar items */
.nav-menu ul > li {
    display: inline-block;
    margin-right: 10px;
    position: relative;
  }

.nav-menu .dropdown-menu {
    padding: 50px 10px 50px 0px;
    box-sizing: border-box;
  }

  /* small triangle on levels 0 */
  .nav-menu ul .dropdown-menu::before {
    content: "";
    position: absolute;
    top: 51%;
    right: -2px; /* adjust the position of the triangle */
    transform: translateY(-50%);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 7px solid white; /* set the color of the triangle */
}

  /* layer 0 */
.nav-menu .dropdown-menu .ul-wrap {
    display: none;
  }

.nav-menu .dropdown-menu:hover .ul-wrap{
    display: flex;
    flex-direction: column;
    position: absolute;
  }

.nav-menu .dropdown-menu:hover .ul-wrap ul{
    margin: 16px 70px 30px 0px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: white;
  }

  .nav-menu .dropdown-menu:hover ul li{
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid rgb(118, 178, 223);
    width: 100px;
  }

  .nav-menu .dropdown-menu:hover ul li a{
    margin: 0;
    padding: 10px;
    color: rgb(118, 178, 223);
  }

  /* small triangle on levels 1-2 */
  .nav-menu .dropdown-menu:hover ul .dropdown-menu::before {
    content: "";
    position: absolute;
    top: 50%;
    right: -5px; /* adjust the position of the triangle */
    transform: translateY(-50%);
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 10px solid rgb(118, 178, 223); /* set the color of the triangle */
}

.nav-menu .dropdown-menu .dropdown-menu:hover {
  background-color: rgb(118, 178, 223)  ;
}

.nav-menu .dropdown-menu .dropdown-menu:hover a{
  color: white;
}

/* on hovering the dropdown-menu change the triangle to white */
.nav-menu .dropdown-menu:hover .dropdown-menu::before {
  border-left: 10px solid white;
}

  /* layer 1 */
.nav-menu .dropdown-menu .dropdown-menu .ul-wrap{
    display: none;
  }

.nav-menu .dropdown-menu .dropdown-menu:hover .ul-wrap{
    display: flex;
    padding: 10px;
    top: -113px;
    left: 10px;
    flex-direction: column;
    position: absolute;
    background-color: transparent;
  }

.nav-menu .dropdown-menu .dropdown-menu:hover .ul-wrap ul{
    margin: 100px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

  /* layer 2 */
.nav-menu .dropdown-menu .dropdown-menu .dropdown-menu .ul-wrap{
    display: none;
  }

.nav-menu .dropdown-menu .dropdown-menu .dropdown-menu:hover .ul-wrap{
    display: flex;
    padding: 10px;
    top: -10px;
    left: 40px;
    flex-direction: column;
    position: absolute;
    background-color: transparent;
  }

  .nav-menu .dropdown-menu .dropdown-menu .dropdown-menu:hover .ul-wrap ul{
    margin: 0px 70px 30px 70px;
    display: flex;
    flex-direction: column;
    background-color: white;
  }


  /* login menu */
  .log-menu {
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
  }

  .log-menu .button{
    margin: 5px 2px;
    padding: 10px 20px 10px 20px;
    border-radius: 25px;
    border: 1px solid white;
    background-color: rgb(118, 178, 223);
    cursor: pointer;
  }

  .log-menu .button:nth-child(2){
    background-color: white;
  }

  .log-menu .button:nth-child(2) a{
    color: rgb(118, 178, 223);
  }

  
@media (max-width: 630px) {
    body {
        min-width: 480px;
    }

    .navbar .logo {
        display: none;
    }

}