*{
    --primary-color: rgb(73, 151, 98);
}

#country {
    color: white;
    width: 96%;
}

a {
    color: white;
    text-decoration: none;
}

.orange {
    background-color: orange;
    color: black;
}

.yellow {
    background-color: yellow;
}

.yellow > a {
    color: black;
}

.grey {
    background-color: rgb(126, 126, 126);
}

.blue {
    background-color: rgb(0, 140, 255);
}
